<div class="search-div">
    <button mat-raised-button routerLink='/addproject'>
      <mat-icon>add</mat-icon>New Project
    </button>
    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput  [(ngModel)]="searchKey" placeholder="Search Project" autocomplete="off" (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button areal-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>


<div class="row">
    <div class="column" *ngFor="let project of projects">
        <mat-card class="mat-elevation-z4" >
            <img mat-card-image src="https://www.techrepublic.com/a/hub/i/r/2018/03/20/cad44d4d-6707-4703-9eeb-30d539d16a6e/resize/1200x/1be69d3ae9b7c4be604bd2d8058ed960/istock-844535646.jpg">
            <mat-card-title class="title"> Project - {{project.projectName}}</mat-card-title>
            <button mat-button routerLink='/projectdetails/{{project.projectId}}'>View Details</button>

        </mat-card> 
    </div>
</div> 



